
numpy
scipy
pandas
scikit-learn
tqdm

python-dotenv
matplotlib

# two towers
# tensorflow==2.13.0
# tensorflow-recommenders==0.7.3

#phoBERT
torch
transformers
sentencepiece
sentence-transformers

# Web API
fastapi
pydantic
uvicorn[standard]

# Database
sqlalchemy
mysqlclient

# Service Discovery - Eureka Client
py-eureka-client
aiohttp
